#number {
    border: 2px solid rgb(77, 75, 75);
    width: 3.2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-left: 50%;
    margin-top: 25%;
    font-size: 320%;
    margin-right: 0;
    position: relative;
  }

  #up{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 150%;
    border: 2px solid rgb(77, 75, 75);
    width: 3%;
    margin: 0;
    position: relative;
    margin-left: 53.2%;
    margin-top: -3.3%;
  }

  #down{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 150%;
    border: 2px solid rgb(77, 75, 75);
    width: 3%;
    margin-top: -0.01%;
    position: relative;
    margin-left: 53.2%;
  }